[submodule "openshot-qt"]
	path = openshot-qt
	url = https://github.com/OpenShot/openshot-qt.git

[submodule "PyQt5-Apps"]
  path = PyQt5-Apps
  url = https://github.com/taseikyo/PyQt5-Apps.git 

[submodule "PyQt-Fluent-Widgets"]
  path = PyQt-Fluent-Widgets
  url = https://github.com/zhiyiYo/PyQt-Fluent-Widgets.git

[submodule "pyqtgraph"]
  path = pyqtgraph
  url = https://github.com/pyqtgraph/pyqtgraph.git

[submodule "qtawesome"]
  path = qtawesome
  url = https://github.com/username/qtawesome.git

[submodule "qt-material"]
  path = qt-material
  url = https://github.com/UN-GCPDS/qt-material.git

[submodule "qtpy"]
  path = qtpy
  url = https://github.com/spyder-ide/qtpy.git

[submodule "qt-python-mvc"]
  path = qt-python-mvc
  url = https://github.com/tom-a-horrocks/qt-python-mvc.git 

[submodule "graphrag"]
  path = graphrag
  url = https://github.com/microsoft/graphrag.git

[submodule "spadeBDI_RL"]
  path = spadeBDI_RL
  url = https://github.com/ZahraD-a/spadeBDI_RL.git

[submodule "fbs"]
  path = fbs
  url = https://github.com/mherrmann/fbs.git

[submodule "fbs-tutorial"]
  path = fbs-tutorial
  url = https://github.com/mherrmann/fbs-tutorial

[submodule "BallonsTranslator"]
  path = BallonsTranslator
  url = https://github.com/dmMaze/BallonsTranslator.git

[submodule "Cura"]
  path = Cura
  url = https://github.com/Ultimaker/Cura.git


[submodule "examples"]
  path = examples
  url = https://github.com/pyqt/examples.git

[submodule "BallonsTranslator"]
  path = BallonsTranslator
  url = https://github.com/dmMaze/BallonsTranslator.git


[submodule "cleanrl"]
  path = 3rd_party/cleanrl_worker/cleanrl
  url = https://github.com/vwxyzjn/cleanrl.git

[submodule "openrlbenchmark"]
  path = openrlbenchmark
  url = https://github.com/openrlbenchmark/openrlbenchmark.git

[submodule "fbs-tutorial"]
  path = fbs-tutorial
  url = https://github.com/mherrmann/fbs-tutorial.git 

[submodule "CORL"]
  path = CORL
  url = https://github.com/corl-team/CORL.git

[submodule "katakomba"]
  path = katakomba
  url = https://github.com/corl-team/katakomba.git

[submodule "LeanRL"]
  path = LeanRL
  url = https://github.com/meta-pytorch/LeanRL.git

[submodule "valkka-core"]
  path = valkka-core
  url = https://github.com/elsampsa/valkka-core.git

[submodule "ray"]
  path = 3rd_party/ray_worker/ray
  url = https://github.com/ray-project/ray.git

[submodule "xuance"]
  path = 3rd_party/xuance_worker/xuance
  url = https://github.com/agi-brain/xuance.git

[submodule "mujoco_mpc"]
  path = 3rd_party/mujoco_mpc_worker/mujoco_mpc
  url = https://github.com/google-deepmind/mujoco_mpc.git

[submodule "ViZDoom"]
  path = 3rd_party/vizdoom_worker/ViZDoom
  url = https://github.com/Farama-Foundation/ViZDoom.git

[submodule "PettingZoo"]
  path = 3rd_party/pettingzoo_worker/PettingZoo
  url = https://github.com/Farama-Foundation/PettingZoo.git


[submodule "SuperSuit"]
  path = 3rd_party/supersuit_worker/SuperSuit
  url = https://github.com/Farama-Foundation/SuperSuit.git

[submodule "Shimmy"]
  path = 3rd_party/shimmy_worker/Shimmy
  url = https://github.com/Farama-Foundation/Shimmy.git

[submodule "BALROG"]
  path = 3rd_party/balrog_worker/BALROG
  url = https://github.com/balrog-ai/BALROG.git


[submodule "multigrid"]
  path = 3rd_party/multigrid-ini
  url = https://github.com/ini/multigrid.git

# https://github.com/openai/procgen.git 

[submodule "procgen"]
  path = 3rd_party/procgen 
  url = https://github.com/openai/procgen.git

